extends layout

block title
  title Chordify

block topScripts

block style
  link(rel="stylesheet",href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700')
  style body{font-family: 'Droid Sans';text-align: center;font-size: 80px;}

block content
  div This is the Backend for the Chordify app

block scripts